@page "/contact"

<PageTitle>Contact</PageTitle>

<h1>Executive Contact Information</h1>

<div class="full">
    <div class="card president">
        <h3>Cameron Kreitner</h3>
        <ul>
            <li>Position: President</li>
            <li>Phone: (678) 815-4656</li>
            <li>Email: cameronkreitner@gmail.com</li>
        </ul>
    </div>
    <div class="card vicepresident">
        <h3>Hunter Mason</h3>
        <ul>
            <li>Position: Vice President</li>
            <li>Phone: (678) 216-8618</li>
            <li>Email: ethan.mason@uga.edu</li>
        </ul>
    </div>
    <div class="card secretary">
        <h3>Drew Gilliland</h3>
        <ul>
            <li>Position: Secretary</li>
            <li>Phone: (404) 444-7292</li>
            <li>Email: dkgilliland@gillinet.org</li>
        </ul>
    </div>
    <div class="card feo">
        <h3>Douglas Vines</h3>
        <ul>
            <li>Position: FEO</li>
            <li>Phone: (805) 558-7611</li>
            <li>Email: sdv48039@uga.edu</li>
        </ul>
    </div>
    <div class="card afeo">
        <h3>Charlie Enter</h3>
        <ul>
            <li>Position: AFEO</li>
            <li>Phone: (678) 717-7164</li>
            <li>Email: charlieentermusic@gmail.com</li>
        </ul>
    </div>
    <div class="card treasurer">
        <h3>Logan Durisch</h3>
        <ul>
            <li>Position: Treasurer</li>
            <li>Phone: (404) 987-6412</li>
            <li>Email: logandurisch@gmail.com</li>
        </ul>
    </div>
    <div class="card warden">
        <h3>Nicholas Goldfarb</h3>
        <ul>
            <li>Position: Warden</li>
            <li>Phone: (404) 630-2318</li>
            <li>Email: nicholasgoldfarb@gmail.com</li>
        </ul>
    </div>
    <div class="card historian">
        <h3>Connor Norris</h3>
        <ul>
            <li>Position: Historian</li>
            <li>Phone: (678) 672-0153</li>
            <li>Email: cgnorris18694@gmail.com</li>
        </ul>
    </div>
    <div class="card aro">
        <h3>Todd Perry</h3>
        <ul>
            <li>Position: ARO</li>
            <li>Phone: (678) 689-9769</li>
            <li>Email: </li>
        </ul>
    </div>
    <div class="card socialchair1">
        <h3>Conner Bacon</h3>
        <ul>
            <li>Position: Social Chair</li>
            <li>Phone: (678) 495-8360</li>
            <li>Email: connerbacon11@gmail.com</li>
        </ul>
    </div>
    <div class="card socialchair2">
        <h3>Nathan Jacobi</h3>
        <ul>
            <li>Position: Social Chair</li>
            <li>Phone: (678) 575-9741</li>
            <li>Email: nathanja01@gmail.com</li>
        </ul>
    </div>
    <div class="card dei">
        <h3>William OBannon</h3>
        <ul>
            <li>Position: Diversity and Inclusion Chair</li>
            <li>Phone: (678) 815-6442</li>
            <li>Email: william.c.obannon@gmail.com</li>
        </ul>
    </div>
    <div class="card merchandising">
        <h3>Patrick Fuller</h3>
        <ul>
            <li>Position: Merchandising Chair</li>
            <li>Phone: (678) 864-3133</li>
            <li>Email: pmfuller28@gmail.com</li>
        </ul>
    </div>
</div>