@page "/excused_absence"
@inject NavigationManager NavManager

<PageTitle>Absence Form</PageTitle>

<h1>Absence Form</h1>

<div class="card">
    <div>
        <label for="name">Name: </label>
        <input type="text" name="" id="name" @bind=Name>
    </div>
    
    <div>
        <label for="events">Event: </label>
        <select class="eventSelect" name="Event" id="events" @bind="Event">
            <option value="default" selected>Select an Event</option>
            <option value="Chapter">Chapter</option>
            <option value="Mixer">Mixer</option>
            <option value="SocialEvent">Social Event</option>
        </select>
    </div>

    <div>
        <label for="date">Date: </label>
        <input type="date" name="date" id="date" @bind=Date>
    </div>

    <div>
        <label for="absenceReason">Reason for Absence: </label>
        <select class="reasonSelect" name="Event" id="absenceReason" @bind="AbsenceReason">
            <option value="default" selected>Select a Reason</option>
            <option value="WorkConflict">Unavoidable Work Conflict</option>
            <option value="Mixer">Class Conflict</option>
            <option value="Rehearsal">Ensemble Rehearsal</option>
            <option value="OutOfTown">Out of Town</option>
            <option value="Covid">Covid related</option>
            <option value="Other">Other (Text Drew)</option>
        </select>
    </div>

    <div>
        <label>Does this conflict recur?</label>
        <div>
            <label for="recurYes">Yes</label>
            <input type="radio" name="recur" id="recurYes" value="Yes">
            <label for="recurNo">No</label>
            <input type="radio" name="recur" id="recurNo" value="No">
        </div>
    </div>

    <div>
        <button class="submitBtn" @onclick="SubmitForm">Submit</button>
    </div>

</div>

@code {
    private static string? Name {get; set;}
    private static string? Event { get; set; }
    private static DateTime Date {get; set;}
    private static string? AbsenceReason {get; set;}
    private static bool Recur {get; set;} 

    private string filepath = $"./output/absences/";

    void SubmitForm() {
        filepath += Name + Date.Month + "-" + Date.Day;
        AbsenceData absenceData = new AbsenceData(Name, Event, Date, AbsenceReason, Recur);
        SecretaryPortal.Data.FileData.AppendFile(absenceData.ToString(), filepath);

        NavManager.NavigateTo("./submit");
    }
}