@page "/"

<PageTitle>Index</PageTitle>

<h1>Hail Sinfonia!</h1>

GilliNet welcomes you to the Secretary Portal Version 0.2!

<div class="card">
    
    <div class="features">
        <h3>Version 0.2 Features</h3>
        <ul>
            <li><a href="/attendance">Attendance</a></li>
            <li><a href="/contact">Contact Information</a></li>
        </ul>
    </div>
    <div class="planned">
        <h3>Planned Features</h3>
        <ul>
            <li>Election Management</li>
            <li>Excused Absences</li>
            <li>Event Calendar</li>
            <li>Development Interest Form</li>
            <li>Excel Spreadsheet Integration</li>
            <li>Documentation</li>
        </ul>
    </div>
</div>