@inherits LayoutComponentBase

<PageTitle>Secretary Portal</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <p>Version 0.3</p>
        </div>

        <article class="content px-4">
            @Body
        </article>

        <!-- Footer -->
        <div class="foot">
            <div>
                <img src="./Assets/gillinet.png" alt="GilliNet Logo" class="glogo">
                2022 GilliNet
            </div>
        </div>
<!-- Footer -->
    </main>
</div>
